.dark {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .dark a {
    color: #dcc1fc;
  }
  
  .light {
    background-color: #fff;
    color: #000;
  }
  
  .light a {
    color: #39136e;
  }  
 
  .App-header {
    text-align: center;
    padding-top: 20px; 
  }
  
  .navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 10px 0; 
  }
  
  .theme button {
    cursor: pointer;
  }

  .welcome {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
  }

  .education {
    max-width: 800px; 
    margin: 0 auto; 
  }

