.dark {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .dark a {
    color: #dcc1fc;
  }
  
  .light {
    background-color: #fff;
    color: #000;
  }
  
  .light a {
    color: #39136e;
  }  
 
  .App-header {
    text-align: center;
    padding-top: 20px; 
  }
  
  .navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 10px 0; 
  }
  
  .theme button {
    cursor: pointer;
  }

  .welcome {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
  }

  .education {
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .footer-text {
    display: flex;
    justify-content: space-between;
    max-width: 950px; 
    margin: 0 auto; 
  }
  
  .footer-phone, .footer-email, .footer-social {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-social a {
    display: inline-block;
  }
  
  .footer-social img {
    width: 25px;
    height: 25px;
  }
  
  .footer-line {
    border-top: 1px solid #ccc;
  }

  .footer {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgb(128, 128, 128);
    box-sizing: border-box;
    z-index: 1000;
  }
  